.upper{
    padding: 80px;
    text-align: center;
    font-size:xx-large;
    background-color: rgb(81, 238, 154);
}

p{
    text-align: center;
    margin-top: 60px;
    font: bold;
    font-size: 50px; 
}

.lower{
    text-align: center;
    font-size: x-large;
}

.lower a{
    text-decoration: none;
    font-size: 40px;
    color:white;
    background-color: rgb(81, 238, 154);
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    padding-bottom:30px;
    border-radius: 10%;
    margin-top: 50px;
}
